:root {
    box-sizing: border-box;
    background-color: lightgrey;
    font-size: 100%;
}
h1 {
    text-align: center;
}
.mediaClassContainer {
    float: center;
    width: 100%;
}
.carPic {
    border: 5px solid black;
    overflow: auto; /*Sets to overflow: scroll, keep to auto just in case*/
    transition: border 0.3s ease-in-out;
}
.carPic:hover {
    border: 10px solid darkred;
    font-weight: bold;
}
img {
    width: 100%;
    height: auto;
}
.quote {
    padding: 10%;
    text-align: justify;
    font-style: oblique;
}
@media screen and (min-width: 730px){
    .carPic {
        margin: 5px 0px 0px 0px;  
    }
    .desktopImageContainer {
        float: left;
    }
    .desktopImageContainer img {
        display: block;
        width: 500px;
        height: 500px;
        border-right: 5px solid black;
    }
    .quote {
        margin-left: 466px;
    }
    .person {
        margin-right: 130px;
        text-align: right;
        padding-left: 600px;
    }
}
@media screen and (max-width: 730px){
    .mediaClassContainer {
        width: 100%;
    }
    .desktopImageContainer img {
        display: block;
        border-bottom: 7px solid black;
    }
    .person {
        text-align: center;
        margin-bottom: 25px;
    }
}
@media screen and (max-width: 500px){
    .mediaClassContainer {
        width: 100%;
    }
    .desktopImageContainer img {
        display: block;
        border-bottom: 7px solid black;
    }
    .quote {
        text-align: center;
    }
    .person {
        text-align: center;
        margin-bottom: 25px;
    }
}